// import icon
@import '//at.alicdn.com/t/font_2410206_kxwb6og9m5.css'

.video {
	position:relative;
	padding-top:56.25%;
}

video {
	border:none;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
}
