{% extends "base.html" %}

{% block libs %}
  <!-- 超级播放器 -->
  <link href="{{ base_url }}/tcplayer/tcplayer.min.css" rel="stylesheet"/>
  <script src="{{ base_url }}/tcplayer/hls.min.0.13.2m.js"></script>
  <script src="{{ base_url }}/tcplayer/tcplayer.v4.2.2.min.js"></script>
  <!-- Card -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="回形针重症监护室">
  <meta property="og:url" content="https://ipaperclip.icu/">
  <meta property="og:site_name" content="ipaperclip.icu">
  <meta property="og:description" content="He, 这里归档了 回形针&混乱博物馆 的视频">
  <meta property="og:locale" content="zh_CN">
  <meta property="og:image" content="/favicon.png">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LHVLKD0J4X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-LHVLKD0J4X');
  </script>
{% endblock %}

{% block content %}
	{{ super() }}
    <script src="{{ base_url }}/tcplayer/config{{ page.abs_url }}index.js"></script>
{% endblock %}