{% extends "base.html" %}

{% block libs %}
  <!-- Card -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="回形针重症监护室">
  <meta property="og:url" content="https://ipaperclip.icu/">
  <meta property="og:site_name" content="ipaperclip.icu">
  <meta property="og:description" content="He, 这里归档了 回形针PaperClip&混乱博物馆 的视频">
  <meta property="og:locale" content="zh_CN">
  <meta property="og:image" content="https://cdn.jsdelivr.net/gh/ipaperclip-icu/static@main/favicon/favicon.png">
  <!-- 自定义CSS -->
  <link href="https://cdn.jsdelivr.net/gh/ipaperclip-icu/static@main/css/video.css" rel="stylesheet"/>
{% endblock %}