/* video标签自适应 */
.video {
    position: relative;
    padding-top: 56.25%;
}

video {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* a标签去除下划线 */
a {
    text-decoration: none;
}

/* 字体大小 */
h1 {
    font-size: 28px !important;
}

h2 {
    font-size: 24px !important;
}

h3 {
    font-size: 20px !important;
}

h4 {
    font-size: 18px !important;
}

h5 {
    font-size: 16px !important;
}

h6 {
    font-size: 14px !important;
}
